<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/fuel_quote/static/css/login/style.css" />
  <title>Sign in & Sign up Form</title>
</head>

<body>
  <div class="container forgot_passs">
    <div class="forms-container">
      <div class="signin-signup">
        <form method="POST" id="multiform" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field" id="dv_user_name">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Email" name="username" id="username" autocomplete="off" required />
          </div>
          <p style="color: red;font-size: 0.75rem;margin-left: -130px;" id="lb_login_username" class="error_r"></p>
          <div class="input-field new_pass" id="dv_otp">
            <i class="fas fa-key"></i>
            <input type="text" placeholder="Otp" name="otp" id="otp" autocomplete="off" />
          </div>
          <p style="color: red;font-size: 0.75rem;margin-left: -130px;" id="lb_otp" class="error_r"></p>
          <div class="input-field new_pass" id="dv_password">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" id="password" autocomplete="off" />
          </div>
          <p style="color: red;font-size: 0.75rem;margin-left: -130px;" id="lb_login_password" class="error_r"></p>
          <div class="input-field new_pass" id="dv_confi_password">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm_password" autocomplete="off" />
          </div>
          <p style="color: red;font-size: 0.75rem;margin-left: -130px;" id="lb_confirm_password" class="error_r"></p>
          <input type="button" value="Get Otp" id="login_ntb" class="btn solid get_otp" />
          <input type="button" value="Change Password" id="submit_ntb" class="btn solid" />
          <p style="color: red;font-size: 0.75rem;margin-left: -130px;" id="lb_submit_ntb" class="error_r"></p>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Please enter your registered gmail id</h3>
          <p>
            to receive otp and reset your password!
          </p>
        </div>
        <img src="static/login_img/undraw_forgot_password_re_hxwm.svg" class="image" alt="" />
      </div>
    </div>
  </div>
  <script src="/fuel_quote/static/js/login/vendor/jquery-3.3.1.min.js"></script>
  {#
  <script>window.jQuery || document.write('<script src="static/js/login/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  #}
  <script src="/fuel_quote/static/js/login/jquery-ui.min.js"></script>
  <script src="/fuel_quote/static/js/login/jquery.ui.touch-punch.min.js"></script>
  <script src="/fuel_quote/static/js/login/bootstrap.bundle.min.js"></script>
  <script src="/fuel_quote/static/js/forgot_password/forgot_password.js"></script>
  <script>
        window.addEventListener('load', (event) => {
          document.getElementById('submit_ntb').style.display = 'none';
          document.getElementById('dv_otp').style.display = 'none';
          document.getElementById('dv_password').style.display = 'none';
          document.getElementById('dv_confi_password').style.display = 'none';
        });
    </script>
  <script>
    document.getElementById("login_ntb").addEventListener("click", init_file);
  </script>
  <script>
    document.getElementById("submit_ntb").addEventListener("click", change_password);
  </script>
</body>

</html>